@media screen and (min-width: 1024px) and (max-width: 1366px)  {
    .header_box{
        width: 1024px;
        height: 84px;
    }
    .right_menu{
        display: none;
        visibility: hidden;
    }
    .contact_box,
    .contact_form{
        width: 1024px;
    }
    .contact{
        display: none;
        visibility: hidden;
    }

    footer,
    .footer_box{
        width: 1024px;
    }
    .footer_title{
        width: 665px;
        font-size: 23px;
    }
    .footer_info{
        width: 785px;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .email_phone, .start_here{
        margin-top: 30px;
    }
    .footer_data{
        width: 785px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px)  {
    .right_menu, .contact{
        display: none;
        visibility: hidden;
    }
    .header_box{
        width: 765px;
        height: 84px;
    }
    .header_box img{
        padding: 0px 25px;
        width: 200px;
    }
    .header_menu a {
        font-size: 14px;
        margin: 32px 0 30px 35px;
    }
    .contact_box{
        width: 765px;
    }
    .background{
        top: 65px;
        font-size: 150px;
    }
    footer,
    .footer_box{
        width: 765px;
    }
    .footer_title{
        width: 500px;
        font-size: 21px;
    }
    .footer_info{
        width: 600px;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .email_phone, .start_here{
        margin-top: 30px;
    }
    .footer_data{
        width: 600px;
    }
}
@media only screen and (min-device-width : 568px) and (max-device-width : 768px) {
    .right_menu, .contact, .header_box{
        display: none;
        visibility: hidden;
    }
    /*Mobile version menu*/
    .mobile_header_menu{
        display: block;
        visibility: visible;
        width: 100%;
    }
    header{
        background-color: #fff;
    }
    .mobile_logo{
        width: 100%;
        background-color: #3a73cf;
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .mobile_menu{
        margin: 0 auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mobile_menu img{
        border: 0 solid white;
        overflow: hidden;
        width: 300px;
        height: 85px;
        -webkit-background-size: contain;
        background-size: contain;
        box-shadow: 0 12px 34px 0 rgba(0, 0, 0, 0.5);
        -webkit-clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
        clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
        background-color: white;
    }
    .mobile_slider_menu ul{
        margin-top: 0;
        width: 568px;
        padding: 0;
        list-style-type: none;
        height: 0;
        display: none;
        visibility: hidden;
        transition: 0.2s;
    }
    .mobile_slider_menu ul.active{
        display: block;
        visibility: visible;
        height: 170px;
        transition: 0.4s;
    }
    .mobile_slider_menu ul li{
        margin: 0 auto;
        width: 80%;
        text-align: center;
        padding:7px 0;
        background-color: rgba(57, 132, 222, 0.65);
        transition: 0.2s;
        border: 1px solid #6075a0;
        border-radius: 5px 5px 15px 15px;
        border-right: 0;
        border-left: 0;
        cursor: pointer;
    }
    .mobile_slider_menu a{
        text-decoration: none;
        color: #07349c;
    }
    .mobile_slider_menu ul li.open{
        transition: 0.2s;
        background-color: #3a73cf;
    }
    /*end mobile version*/
    .contact_box{
        width: 565px;
    }
    .contact_form{
        width: 560px;
    }

    .background{
        top: 65px;
        font-size: 110px;
    }
    .contact_form_case{
        margin: 80px auto 0;
    }
    footer,
    .footer_box{
        width: 565px;
    }
    .footer_title{
        width: 100%;
        font-size: 21px;
        -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
    .footer_info{
        width: 550px;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        padding: 0 30px;
    }
    .footer_info div{
        margin-top: 30px;
    }
    .email_phone, .start_here{
        margin-top: 30px;
    }
    .footer_data{
        padding: 10px 0 5px;
        width: 550px;
        text-align: center;
    }
    .team_effort{
        display: flex;
        justify-content: center;
    }
}
@media only screen and (min-device-width : 360px) and (max-device-width : 568px) {

    .right_menu, .contact, .header_box{
        display: none;
        visibility: hidden;
    }
    /*Mobile version menu*/
    .mobile_header_menu{
        display: block;
        visibility: visible;
        width: 100%;
    }
    header{
        background-color: #fff;
    }
    .mobile_logo{
        width: 100%;
        background-color: #3a73cf;
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .mobile_menu{
        margin: 0 auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mobile_menu img{
        border: 0 solid white;
        overflow: hidden;
        width: 300px;
        height: 85px;
        -webkit-background-size: contain;
        background-size: contain;
        box-shadow: 0 12px 34px 0 rgba(0, 0, 0, 0.5);
        -webkit-clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
        clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
        background-color: white;
    }
    .mobile_slider_menu ul{
        margin-top: 0;
        width: 360px;
        padding: 0;
        list-style-type: none;
        height: 0;
        display: none;
        visibility: hidden;
        transition: 0.2s;
    }
    .mobile_slider_menu ul.active{
        display: block;
        visibility: visible;
        height: 170px;
        transition: 0.4s;
    }
    .mobile_slider_menu ul li{
        margin: 0 auto;
        width: 80%;
        text-align: center;
        padding:7px 0;
        background-color: rgba(57, 132, 222, 0.65);
        transition: 0.2s;
        border: 1px solid #6075a0;
        border-radius: 5px 5px 15px 15px;
        border-right: 0;
        border-left: 0;
        cursor: pointer;
    }
    .mobile_slider_menu a{
        text-decoration: none;
        color: #07349c;
    }
    .mobile_slider_menu ul li.open{
        transition: 0.2s;
        background-color: #3a73cf;
    }
    /*end mobile version*/
    .contact_box, .contact_form, .contact_form_case,
    .contact_line{
        width: 360px;
    }
    .background{
        display: none;
        visibility: hidden;
    }
    .option{
        margin: 25px auto 0;
        flex-direction: column;
        width: 320px;
    }
    .contact_form .title{
        padding: 0 5px;
    }
    form{
        width: 350px;
    }
    form select{
        width: 350px;
        padding: 15px 10px;
    }
    form .appearance::after{
        margin-left: 315px;
    }
    form input{
        width: 320px;
    }
    .double{
        width: 350px;
        margin-right: 0;
    }
    .recaptcha{
        margin: 10px auto 100px;
        width: 350px;
    }
        /*footer*/
    footer,
    .footer_box{
        width: 360px;
    }
    .footer_title{
        width: 100%;
        font-size: 21px;
        -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
    .footer_info{
        width: 360px;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    .footer_info div{
        margin-top: 30px;
    }
    .email_phone, .start_here{
        margin-top: 30px;
    }
    .footer_data{
        padding: 10px 0 5px;
        width: 360px;
        text-align: center;
    }
    .team_effort{
        display: flex;
        justify-content: center;
    }
}
@media only screen and (max-device-width : 360px) {
    .right_menu, .contact, .header_box{
        display: none;
        visibility: hidden;
    }
    /*Mobile version menu*/
    .mobile_header_menu{
        display: block;
        visibility: visible;
        width: 100%;
    }
    header{
        background-color: #fff;
    }
    .mobile_logo{
        width: 100%;
        background-color: #3a73cf;
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .mobile_menu{
        margin: 0 auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mobile_menu img{
        border: 0 solid white;
        overflow: hidden;
        width: 90%;
        height: 85px;
        -webkit-background-size: contain;
        background-size: contain;
        box-shadow: 0 12px 34px 0 rgba(0, 0, 0, 0.5);
        -webkit-clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
        clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
        background-color: white;
    }
    .mobile_slider_menu ul{
        margin-top: 0;
        min-width: 320px;
        width: 99%;
        padding: 0;
        list-style-type: none;
        height: 0;
        display: none;
        visibility: hidden;
        transition: 0.2s;
    }
    .mobile_slider_menu ul.active{
        display: block;
        visibility: visible;
        height: 170px;
        transition: 0.4s;
    }
    .mobile_slider_menu ul li{
        margin: 0 auto;
        width: 80%;
        text-align: center;
        padding:7px 0;
        background-color: rgba(57, 132, 222, 0.65);
        transition: 0.2s;
        border: 1px solid #6075a0;
        border-radius: 5px 5px 15px 15px;
        border-right: 0;
        border-left: 0;
        cursor: pointer;
    }
    .mobile_slider_menu a{
        text-decoration: none;
        color: #07349c;
    }
    .mobile_slider_menu ul li.open{
        transition: 0.2s;
        background-color: #3a73cf;
    }
    /*end mobile version*/
    .contact_box, .contact_form, .contact_form_case,
    .contact_line{
        width: 99%;
    }
    .background{
        display: none;
        visibility: hidden;
    }
    .option{
        margin: 25px auto 0;
        flex-direction: column;
        width: 320px;
    }
    .contact_form .title{
        padding: 0 5px;
    }
    form{
        width: 96%;
    }
    form select{
        width: 100%;
        padding: 15px 10px;
    }

    form input{
        width: 95%;
        min-width: 270px;
    }
    .double{
        width: 96%;
        margin-right: 0;
    }
    .recaptcha{
        margin: 10px auto 100px;
        width: 97%;
    }
    /*footer*/
    footer,
    .footer_box{
        width: 99%;
        min-width: 320px;
    }
    .footer_title{
        width: 100%;
        font-size: 21px;
        -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
    .footer_info{
        width: 99%;
        min-width: 320px;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    .footer_info div{
        margin-top: 30px;
    }
    .email_phone, .start_here{
        margin-top: 30px;
    }
    .footer_data{
        padding: 10px 0 5px;
        width: 99%;
        text-align: center;
    }
    .team_effort{
        display: flex;
        justify-content: center;
    }
}