/* Header ****************************************************/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    margin: 0;
}

header {
    margin: 0 auto;
    width: 100%;
    /*background-color: #061027;*/
}

.header_box {
    width: 1440px;
    margin: 0 auto;
    display: block;
    height: 85px;
    background-color: #061027;
    position: relative;
}
.header_img {
    position:relative;
    display: inline-block;
    float: left;
    transition: 0.2s;
    border: 1px solid #fff;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 0% 100%);
    width: 280px;
    height: 83px;
    padding: 0;
    margin: 0;
}
.header_img:hover{
    transition: 0.2s;
    -webkit-box-shadow: -11px 16px 55px -9px rgba(97,97,97,1);
    -moz-box-shadow: -11px 16px 55px -9px rgba(97,97,97,1);
    box-shadow: -11px 16px 55px -9px rgba(97,97,97,1);
}
.header_box img {
    width: 280px;
    height: 85px;
    position: absolute;
    border: 0 solid white;
    background-color: white;
    -webkit-background-size: contain;
}

.header_menu{
    display: inline-block;
}
.header_menu a {
    text-decoration: none;
    display: inline-block;
    color: white;
    margin: 28px 0 28px 50px;
    transition: 0.3s;
    font-family: "Open Sans", sans-serif;
}

.header_menu a:hover {
    transition: 0.3s;
    -webkit-box-shadow: inset 0px -8px 0px 0px rgba(227, 25, 55, 1);
    -moz-box-shadow: inset 0px -8px 0px 0px rgba(227, 25, 55, 1);
    box-shadow: inset 0px -8px 0px 0px rgba(227, 25, 55, 1);
}

.right_menu {
    float: right;
    display: inline-block;
    width: 380px;
    visibility: visible;
}

.right_menu a {
    margin-top: 20px;
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 10px 25px;
    border: 1px solid #061027;
    transition: 0.2s;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.right_menu a:hover {
    border-color: #e31937;
    transition: 0.2s;
}

#truck {
    padding: 10px 25px 10px 45px;
}

.right_menu #truck::before {
    content: url("../image/truck.png");
    position: absolute;
    margin-left: -30px;
}
.mobile_header_menu{
    display: none;
    visibility: hidden;
}
/* Contact view  *******************************************************************/
.content {
    width: 100%;
    display: block;
}

.contact_box {
    margin: 0 auto;
    width: 1440px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact_form {
    width: 1060px;
    height: 100%;
    display: inline-block;
    position: relative;
    z-index: 1;
}

.background {
    font-family: "Open Sans", sans-serif;
    top: 56px;
    left: 0px;
    position: absolute;
    font-size: 180px;
    color: #10186c;
    z-index: 0;
    width: 100%;
    font-weight: bold;
    text-align: center;
    opacity: 0.1;
    text-transform: uppercase;
}

.contact_form_case {
    display: block;
    width: 560px;
    margin: 95px auto 0;
}

.contact_line {
    width: 560px;
    height: 10px;
}

hr {
    display: block;
    float: left;
    width: 59px;
    height: 0;
    border: 5px solid #182aa4;
}

.title {
    display: block;
    margin: 35px auto 0;

}

.contact_form .title {
    font-family: "Open Sans", sans-serif;
}

.contact_form .title p {
    font-size: 14px;
    font-weight: 400;
    color: #5c585d;
}

.contact_form .title #title {
    font-size: 35px;
    font-weight: 900 !important;
    text-transform: uppercase;
    color: #061027;
    margin-bottom: 20px;
}

.option {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: 560px;
    border: 1px solid #e31937;
    text-transform: uppercase;
}

.option p {
    margin: 0;
    padding: 16px 30px;
    display: inline-block;
    color: #e31937;
    background: white;
    font-size: 12px;
    cursor: pointer;
}

.option .active {
    background: #e31937;
    color: white;
}

/* Contact information*************************/
.contact {
    margin: 0;
    width: 380px;
    height: 1390px;
    background-color: #061027;
    display: inline-block;
}

.contact_info p {
    margin: 25px 0;
    padding-left: 50px;
    color: white;
    font-weight: lighter;
    font-family: "Open Sans", sans-serif;
    width: 190px;
    font-size: 13px;
}

.contact_info {
    margin: 75px auto 0;
    width: 270px;
    display: block;
    position: relative;
}

.contact_title {
    font-family: "Open Sans", sans-serif;
    line-height: 40px;
    text-align: left;
    color: white;
    text-transform: uppercase !important;
    font-size: 18px !important;
    font-weight: bold !important;
    padding-left: 0 !important;
}

.contact_info .before img {
    position: absolute;
    margin-left: -50px;
    margin-top: -10px;
    width: 25px;
    height: 25px;
    transition: 0.2s;
    border: 2px solid #989898;
}
.contact_info .before img:hover{
    transition: 0.2s;
    border: 2px solid #ffffff;
}
.contact_info #adress {
    padding-left: 0 !important;
}

.contact_info img {
    margin-right: 10px;
    cursor: pointer;
    padding: 5px;
    background-repeat: no-repeat;
    border: 2px solid #989898;
    -webkit-background-size: cover;
    background-size: cover;
    transition: 0.2s;
}
.contact_info img:hover{
    transition: 0.2s;
    border: 2px solid #ffffff;
}
/* form label and input*/
form {
    margin: 30px auto 0;
    display: block;
    width: 560px;
    height: 100%;
}

form div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

form label {
    display: inline-block;
    width: 270px;
    color: #061027;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    background-color: #fff;
    margin: 40px 0 5px 5px;
}

form input {
    display: inline-block;
    width: 240px;
    padding: 15px;
    border: 1px solid #061027;
    color: #061027;
}

form select {
    width: 270px;
    border: 1px solid #061027;
    border-radius: 0 !important;
    color: white;
    background-color: #182aa4;
    padding: 15px 10px;
    -webkit-appearance: none;
    z-index: 1;
}
.appearance{
    position: relative;
}
form .appearance::after{
    color: #ffffff;
    content: "";
    border: 9px solid #fff;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    font-size: 14px;
    position: absolute;
    z-index: 1;
    text-align: center;
    width: 0;
    height: 0;
    top: 18px;
    right: 10px;
    box-sizing: border-box;
    pointer-events: none;
}
.double{
    margin-right: 8px;
    width: 270px;
    display: inline-block;
}
#approximate_volumes {
    width: 530px;
}

#approximate_information {
    border: 1px solid #061027;
    width: 560px;
    height: 115px;
    padding: 15px;
}

.recaptcha {
    display: block;
    width: 560px;
    margin: 10px auto 100px;
}

button {
    margin-top: 25px;
    padding: 15px 40px;
    background-color: #e31937;
    border: solid 2px #e31937;
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
}
button:hover{
    transition: 0.2s;
    box-shadow: 0 16px 41px 0 rgba(0, 0, 0, 0.2);
}
/*Footer************************************************/
footer {
    margin: 0 auto;
    width: 1440px;
    background-color: #182aa4;
}

.footer_title {
    margin: 0 auto;
    width: 785px;
    line-height: 89px;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    background-color: #2f8ccf;
    -webkit-clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
    clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
    transition: 0.3s;
}
.footer_title:hover{
    transition: 0.3s;
    background-color: #e31937;
}
.footer_box {
    display: block;
    width: 1440px;
    background-color: #061027;
}

.footer_info {
    margin: 0 auto;
    width: 1215px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #2b3447;
    padding: 55px 0;
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

.footer_info div {
    font-size: 13px;
    color: #fff;
    opacity: 1 !important;
    width: 275px;
    height: 135px;
}

.footer_info img {
    margin-right: 10px;
    cursor: pointer;
    padding: 5px;
    background-repeat: no-repeat;
    border: 2px solid #989898;
    -webkit-background-size: cover;
    background-size: cover;
    transition: 0.2s;
}
.footer_info img:hover{
    transition: 0.2s;
    border: 2px solid #ffffff;
}

.footer_info p {
    margin-top: 0;
    width: 170px;
}

.footer_info a img {
    margin-bottom: 10px;
}

.footer_data {
    height: 95px;
    padding: 5px 0;
    width: 1215px;
    margin: 0 auto;
    color: white;
    opacity: 0.44;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
}

.email_phone p {
    display: flex;
    align-items: center;
    width: 265px;
}

.team_effort img {
    border: 1px solid rgba(0, 0, 0, 0);
}
.team_effort img:hover{
    border: 1px solid rgba(0, 0, 0, 0);
}

.start_here p {
    margin: 0;
    width: 265px;
    text-transform: uppercase;
    font-size: 21px;
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
}

.start_here a {
    margin-top: 20px;
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 10px 25px;
    border: 1px solid #e31937;
    transition: 0.2s;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
}
.start_here a:hover{
    transition: 0.4s;
    color: #e31937;
    background-color: white;
}
